main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    box-sizing: border-box;
    max-width: 100%;
    box-sizing: border-box;
    


    #canvas {
        position: absolute;
        background: black;
        top: 104px;
        z-index: -1;
    }
}
