form {
    display: flex;
    justify-content: space-around;
    background-color: #303030;

    .container {
        display: flex;
        flex-direction: column;

        
        .write-box {
            position: relative;
            display: flex;
            justify-content: center;
            h1 {
                font-family: 'Caveat';
                font-weight: 700;
                font-size: 40px;
                position: absolute;
                border: 1px solid black;
                top: 100px;
                left: auto;
                max-width: 85%;
                max-height: 34px;
                overflow: hidden;
                box-sizing: border-box;
                word-break: break-all;
                color: black;
            }

            .signature {
                font-weight: 700;
                font-size: 36px;
                position: absolute;
                border: 1px solid black;
                bottom: 25px;
                left: 30px;
                max-width: 85%;
                height: 55px;
                overflow: hidden;
                box-sizing: border-box;
                word-break: break-all;
                color: black;
                display: flex;
                align-items: center;
                padding-right: 20px;
                font-family: 'Mea Culpa';

            }
    
            .note {
                font-family: 'Caveat';
                position: absolute;
                font-size: 35px;
                max-height: 55%;
                overflow: hidden;
                border: 1px solid black;
                top: 160px;
                left: auto;
                max-width: 85%;
                box-sizing: border-box;
                word-break: break-all;
                color: black;
            }

            .date {
                font-family: 'Caveat';
                position: absolute;
                font-size: 30px;
                border: 1px solid black;
                top: 68px;
                left: 0;
                color: black;
            }

            .dueDate {
                font-family: 'Caveat';
                position: absolute;
                font-size: 30px;
                border: 1px solid black;
                top: 68px;
                right: 15px;
                color: red;
            }
        }


        img {
            height: 520px;
            margin: 20px 0;
        }
    }

    .form-container {
        padding-top: 1.34375em;

    }
    
    .textarea-box {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 1.34375em;
        textarea {
            height: 150px;
        }

        .input {
            outline: none;
            background-color: #303030;
            border-style: ridge;
            border-radius: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            color: rgba(230, 230, 230, 0.7);
            cursor: pointer;

            &:hover {
                border-color: white;
            }
            &::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }
        }

        
        button {
            margin-top: 1.34375em;
            padding-top: 8px;
            padding-bottom: 8px;
            border: 2px solid transparent;
        
            &:hover {
                border: 2px solid white;
            }
        }
    }
}


