form {
    display: flex;
    justify-content: space-around;
    background-color: #303030;

    .container {
        display: flex;
        flex-direction: column;

        button {
            padding-top: 8px;
            padding-bottom: 8px;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid white;
            }
        }
    }

    .form-container {
        padding-top: 1.34375em;

    }
    
    .textarea-box {
        width: 50%;
        textarea {
            height: 150px;
        }
    }
}


