<form>
    <div class="container">
        <mat-form-field appearance="outline" class="form-container">
          <mat-label>Titel</mat-label>
          <input matInput placeholder="Schreib einen Titel hier">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="darkslategray">Speichern</button>
    </div>

    <mat-form-field appearance="outline" class="form-container textarea-box">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>


