<form>
    <div class="container">
        
        
        <div class="write-box">
            <img src="/assets/img/notepad.png">
            <h1>{{ title }}</h1>
            <p *ngIf="title.length > 0 && annotation.length > 0" class="date">{{ currentDay }}</p>
            <p class="dueDate">{{ dueDate }}</p>
            <p class="note">{{ annotation }}</p>
            <p class="signature">{{ name }}</p>
        </div>
        
    </div>
    
    
            <div class="textarea-box">

                <mat-form-field appearance="outline" class="form-container">
                  <mat-label>Titel</mat-label>
                  <input [(ngModel)]="title" [ngModelOptions]="{standalone: true}" matInput placeholder="Schreib einen Titel hier">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <input [(ngModel)]="dueDate" [ngModelOptions]="{standalone: true}" class="input" type="date" id="inputDate">
                
                <mat-form-field appearance="outline" class="form-container">
                    <mat-label>Leave a comment</mat-label>
                    <textarea [(ngModel)]="annotation" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>

                <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="input" type="text" placeholder="Schreib deinen Namen hier">

            
                <button mat-raised-button class="darkslategray" (click)="addNote()">Speichern</button>

            </div>
            
            
            
        </form>


